{
    "environment": "development",
    "database": {
        "host": "",
        "username": "",
        "password": "",
        "database": ""
    },
    "redis": {
        "host": "localhost",
        "port": "6379"
    }
}